@font-face {
    font-family: 'Proxima Nova'; /* Имя шрифта */
    src: url('../fonts/ProximaNova-Regular.woff');
}

@font-face {
    font-family: 'Proxima Nova Bold'; /* Имя шрифта */
    src: url('../fonts/ProximaNova-Bold.woff');
}

@font-face {
    font-family: 'Proxima Nova Light'; /* Имя шрифта */
    src: url('../fonts/ProximaNova-Regular.woff'); /* Путь к файлу со шрифтом */
}

body {
	font-family: 'Proxima Nova';
	color: #fff;
	background-color: #F4F4F4;
}

ul li {
	list-style-type: none;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

/* HEADER BLOCK- ------------------------------------------------------------- */

.wrapper {
	height: 100vh;
	background: url('../img/Frame28.png') no-repeat center bottom;
	background-size: cover;
	width: 100%;
}

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	transition: all .3s ease 0s;
}

.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 0px 10px 12px 2px rgba(9,9,9,0.4); 
	box-shadow: 0px 10px 12px 2px rgba(3,3,3,0.4);
	background: rgba(255, 255, 255, 0.08);
	z-index: 2;
}

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 60px;
	align-items: center;
}

.header__logo {
	display: flex;
	flex: 0 0 140px;
	z-index: 3;
	overflow: hidden;
	position: relative;
	z-index: 3;
	margin-left: -25px;
	width: 60%;
}

.header__logo img {
	max-width: 70%;
	display: block;
}

.header__logo-text {
	width: 100%;
	margin-right: 50%;
}

.header__logo h4 {
	font-size: 14px;
	z-index: 3;
	position: relative;
	line-height: 5px;
	width: 200px;
}

.header__list {
	display: flex;
	position: relative;
	z-index: 2;
}

.header__list li {
	margin: 15px 0px 0px 20px;
}

.header__link {
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	text-decoration: none;
	transition: all .3s ease;
	z-index: 4;
}

.header__link:hover {
	color: #ccc;
}

.header__burger {
	display: none;
}

/* 
 OFFER BLOCK ---------------------------------------------------------------------------
*/

.offer {
    height: 100vh;
    padding: 150px;
}

.offer__title {
    font-size: 80px;
    font-weight: 700;
    width: 55%;
}

.offer__text {
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #1FE1CD;
}

.offer__text hr {
	height: 2px;
	width: 5%;
	margin-right: 30px;
}

.offer__text hr:last-child {
	height: 2px;
	width: 26%;
	margin-left: 30px;
}

.offer__group {
	display: flex;
	margin-top: 10%;
}

.offer__button {
	padding: 10px 19px;
	color: #000;
	font-weight: 600;
	background: linear-gradient(100.47deg, #3CFFB8 -0.61%, #04C6E0 96.48%), #31FFB4;
	border-radius: 15px;
	transition: all .3s ease-in .2s;
	margin-right: 20px;
}

.offer__button:hover {
	color: rgba(0, 0, 0, 0.5);
}

.offer__button-trans {
	padding: 10px 25px;
	background: #202020;
	box-shadow: 4px -4px 5px rgba(255, 255, 255, 0.1), -10px 10px 15px rgba(9, 9, 9, 0.5);
	border-radius: 15px;
}

/* 
WHY BLOCK ------------------------------------------------------------------
*/

.why {
	height: 20vh;
	padding: 50px;
	color: #171717;
	background-color: #F4F4F4;
}

.why__block {
	display: flex;
	align-items: center;
}

.why__block h1 {
	font-weight: 700;
	font-size: 80px;
	letter-spacing: -0.3px;
}

.why__block p {
	font-size: 25px;
	line-height: 28px;
	letter-spacing: -0.3px;
	padding: 14px 0 0 20px;
	width: 70%;
}

/* 
GOVNO BLOCK -------------------------------------------------------------
*/

.govno {
	height: 50vh;
	background-color: #F4F4F4;
	color: #171717;
}

.govno__block {
	border: 1px solid #EAEAEA;
	box-sizing: border-box;
	box-shadow: 9px -9px 25px #FFFFFF, -9px 9px 20px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	padding: 40px 30px;
}

.govno__img {	
	width: 20%;
}

.govno__block h3 {
	font-weight: 600;
	font-size: 35px;
	width: 50%;
	letter-spacing: -0.3px;
	color: #171717;
	padding: 45px 0 0 0;
}

.govno__block p {
	font-size: 18px;
	line-height: 23px;
	color: #171717;
	padding: 10px 0 0 0;
}

.govno__block a {
	font-weight: 600;
	font-size: 18px;
	color: #171717;
	line-height: 30px;
	transition: all .3s linear 0s;
}

.govno__block a:hover {
	color: #ccc;
}

/* 
SAVE BLOCK ------------------------------------------------------------
*/

.save {
	background-color: #171717;
	height: 50vh;
}

.save__title {
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	color: #F7F7F7;
	padding: 5% 0 2% 0;
}

/* 
	CONTACT FORM BLOCK ------------------------------------------------
*/

.contact-form {
	height: 70vh;
	background-color: #171717;
}

.contact-form__title {
	display: flex;
	align-items:  center;
	font-weight: 600;
	font-size: 35px;
	color: #F4F4F4;
	width: 82%;
	margin-left: 10%;
}

.contact-form__title hr {
	width: 10%;
	height: 2px;
	margin-right: 3%;
}

.contact-form__title hr:last-child {
	width: 100%;
	height: 2px;
	margin-left: 3%;
}

.contact-form form {
	background: #191919;
	box-shadow: 4px -4px 20px rgba(255, 255, 255, 0.07), -10px 10px 25px rgba(0, 0, 0, 0.6);
	border-radius: 15px;
	padding: 2.5% 3%;
	width: 80%;
	margin: 5% 0 0 10%;
}

.form__title {
	font-weight: 600;
	font-size: 30px;
	color: #F4F4F4;
}

.form__text {
	font-weight: normal;
	font-size: 16px;
	color: #C2C2C2;
}

.form-block {
	display: flex;
	align-items: center;
}

.contact-form form label {
	font-weight: normal;
	font-size: 16px;
	color: #F4F4F4;
	padding: 2% 0 1% 0;
}

.contact-form form .form-group {
	min-width: 470px;
}

.contact-form form .form-group .form-control {
	background: #191919;
	box-shadow: inset 4px -4px 10px rgba(255, 255, 255, 0.07), inset -10px 10px 15px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 15px 35px;
	width: 100%;
	border: none;
	color: #f4f4f4;
}

.form-group:last-child {
	margin-left: 30px;
}

.form__btn {
	background: #191919;
	box-shadow: 4px -4px 5px rgba(255, 255, 255, 0.07), 7px 7px 7px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	padding: 12px 40px;
	color: #f4f4f4;
	border: none;
	margin: 2% 0 0 0;
}